@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.97em;
}

:root {
    --cinza:        #f5f5f5;
    --laranja:      #f8c700;
    --azul-escuro:  #011627;
    --azul-claro:   #197bbd;
}


html, body {
    background-color: white;
    width: 96vw;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    width: 96vw;
    height: 150px;
    padding: 10px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cinza);
} 

header img.img-logo {
    margin: 10px 0px 0px 0px;
}

header menu {
    display: flex;
    width: 96vw;
    height: 40px;
    justify-content: space-evenly;
    
}

header menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #011627;
    background-color: var(--laranja);
    border-radius: 10px;
    height: 30px;
    width: 100px;
    transition: .3s;
}

header menu a:hover {
    color: #f5f5f5;
    background-color: #197bbd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
}

main {
    background-color: #f8c700;
    width: 96vw;
}

main section div#img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/bg-ofc.png);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 96vw;
}

main section#sec1 h1 {
    background-color: #f5f5f5c9;
    border-radius: 10px;
    width: 80vw;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
    font-size: 3em;
    box-shadow: 3px 3px 5px rgba(46, 46, 46, 0.466);
    transition: .5s ease-in-out;
}

main section#sec1 p {
    background-color: #f5f5f5c9;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1.5em;
    width: 80vw;
    height: 80px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(46, 46, 46, 0.466);
}

main section#sec1 h1:hover {
    background-color: #011627;
    margin-top: -20px;
    color: #f5f5f5;
    cursor: none;
}

main section#sec2 {
    width: 96vw;
    height: 640px;
    background-color: #f5f5f5;
    padding: 10px;
}

main section#sec2 p {
    margin: 0px;
    width: 91vw;
    text-indent: 20px;
    text-align: justify;
}

main section#sec2 img {
    display: block;
    position: relative;
    left: 13%;
    width: 70vw;
}

main section#sec3 {
    width: 96vw;
}

main section#sec3 div h2 {
    background-color: #011627;
    color: white;
    font-size: 2em;
    padding: 10px;
}

main section#sec3 div.imgs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
}

div#img1 {
    display: flex;
    border-radius: 20px;
    align-items: flex-end;
    background: black url(../img/et-industrial.png);
    background-position: center center;
    background-size: cover;
    width: 60vw;
    height: 300px;
}

div#img1 p {
    display: flex;
    background-color: #f8c600ee;
    border-radius: 10px 10px 0px 0px;
    width: 60vw;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #011627;
    font-weight: 800;
    font-size: 1.2em;
}

div#img2 {
    display: flex;
    align-items: flex-end;
    background: black url(../img/et-residencial.png);
    background-position: center center;
    background-size: cover;
    width: 60vw;
    height: 300px;
    
    
}

div#img2 p {
    display: flex;
    background-color: #f8c600ee;
    border-radius: 10px 10px 0px 0px;
    width: 60vw;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #011627;
    font-weight: 800;
    font-size: 1.2em;
}

div#img3 {
    display: flex;
    align-items: flex-end;
    background: black url(../img/fibra-optica.png);
    background-position: center center;
    background-size: cover;
    width: 60vw;
    height: 300px;
}

div#img3 p {
    display: flex;
    background-color: #f8c600ee;
    border-radius: 10px 10px 0px 0px;
    width: 60vw;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #011627;
    font-weight: 800;
    font-size: 1.2em;
}

div#img4 {
    display: flex;
    align-items: flex-end;
    background: black url(../img/wifi-premium.png);
    background-position: center center;
    background-size: cover;
    width: 60vw;
    height: 300px;
}

div#img4 p {
    display: flex;
    background-color: #f8c600ee;
    border-radius: 10px 10px 0px 0px;
    width: 60vw;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #011627;
    font-weight: 800;
    font-size: 1.2em;
}

div#img5 {
    display: flex;
    align-items: flex-end;
    background: black url(../img/fios-aleatorios.png);
    background-position: center center;
    background-size: cover;
    width: 60vw;
    height: 300px;
}

div#img5 p {
    display: flex;
    background-color: #f8c600ee;
    border-radius: 10px 10px 0px 0px;
    width: 60vw;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #011627;
    font-weight: 800;
    font-size: 1.2em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #011627;
    height: 300px;
    width: 96vw;
    color: white;
    gap: 20px;
}

footer div#hr {
    padding: 10px;
    width: 50vw;
    height: 70px;
    font-size: 1.1em;
}

footer div#wpp {
    padding: 10px;
    width: 50vw;
    height: 70px;
    font-weight: bolder;
    font-size: 1.1em;
}